In [8]:
with open("example.txt","w") as file:
    file.write("hello world")      # create a text file in write mode

In [9]:
!ls

example.txt

In [10]:
with open("example.txt","r") as file:
    print(file.read()) # read mode

hello world

In [11]:
with open("example.txt","a") as file:
    file.write("\nhello Rashmi") # a stands for append a new data

In [12]:
with open("example.txt","r") as file:
    print(file.read()) # read mode

hello world
hello Rashmi

In [15]:
with open("example.txt","r") as file:
    print(file.readline())  #read the 1st line
    print(file.readline())  #read the second line

hello world

hello Rashmi

In [16]:
with open("example.txt","r") as file:
    print(file.read(5))  #store the 1st 5 letters in a buffer memory and remove that
    print(file.read(5))  #next 5 letters

hello
 worl

In [17]:
with open("example.txt","r") as file:
    print(file.read())

hello world
hello Rashmi

In [20]:
seq= ["This is line 1", "\nThis is line 2"]
with open("example1.txt", "w") as file:
    for line in seq:
        file.write(line)

In [21]:
with open("example1.txt","r") as file:
    print(file.read())

This is line 1
This is line 2

In [23]:
seq= ["This is line 1", "\nThis is line 2"]
with open("example2.txt", "w") as file:
    file.writelines(seq) #writelines contain internal for loop

In [25]:
with open("example2.txt","r") as file:
    print(file.readlines())

['This is line 1\n', 'This is line 2']

In [26]:
seq= ["rashmi,", "ranjan"]
with open("example2.csv", "a") as file:
    file.writelines(seq)

In [27]:
with open("example2.csv","r") as file:
    print(file.read())

rashmi,ranjan

In [28]:
import pandas as pd

In [29]:
df= pd.read_csv("example2.csv")
df

Empty DataFrame
Columns: [rashmi, ranjan]
Index: []

In [32]:
df1= pd.read_csv("example2.csv", header = None)
df1

        0       1
0  rashmi  ranjan

In [33]:
df1= pd.read_csv("example2.csv", header = None, names=['A','B'])
df1

        A       B
0  rashmi  ranjan

In [40]:
with open("example3.csv", "w") as file:
    file.writelines(seq)

In [43]:
seq= ["rashmi,", "ranjan", "\n", "rojalin,", "mishra"]
with open("example3.csv", "w") as file:
    file.writelines(seq)

In [44]:
with open("example3.csv","r") as file:
    print(file.read())

rashmi,ranjan
rojalin,mishra

In [45]:
df1= pd.read_csv("example3.csv", header = None, names=['A','B'])
df1

         A       B
0   rashmi  ranjan
1  rojalin  mishra